main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 150px;
}

.left-container {
    width: 200px;
    height: 400px;
    display: flex;
    justify-content: center;
    background-color: rgb(206, 20, 23);
}